body { 
    background-image: url(img/BgImg.png);
    background-size: cover; 
    background-repeat: no-repeat;
} 
h1 { 
    color:aqua; 
    font-size: 48px; 
}
body { 
    color:white; 
    font-size: 24 px; 
    font-family: 'Times New Roman', Times, serif; 
    background-blend-mode: lighten;
}
.main { 
    font-weight: bold;
    font-size: 36px; 
    font-style: italic;
}